*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    
}
#btn {
    padding: 10px;
    margin: 20px;
    background-color: aqua;
}
#btn a{
    text-decoration: none;
    color: #264653;
    border: none;
    
}